header{
    width: 100%;
}
header.container{
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 4fr 2fr 3fr;
    background-color: #bdc4a7;
    padding: 10px 10px 10px 10px;
}
.menu-nav ul{
    list-style: none;
}
.menu-nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}
.menu-nav ul li a:hover{
    border-bottom:0px solid black;
    border-width: 2px;
    border-bottom-color: black;
    transition: all .1s ease-in;
}
.menu-hamburguer {
	display: none;
}
.menu-items {
    display: flex;
    justify-content: space-between;
}
#menu-responsive {
	display: none;
}

.search-nav{
    display: flex;
    justify-content: flex-end;
}
.search-nav form{
    width: 70%;
}
.search-nav form input{
    width: 90%;
}
.search-nav input#searching{
    border:none;
    height: 25px;
    border-radius: 10px;
    padding-left: 10px;
}
.search-nav  button {
    border:none;
    padding: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -15px;
}

.user-menu{
    display: flex;
    justify-content: center;
}
.user-menu ul{
    list-style: none;
}
.user-menu .user-menu-submenu{
    visibility: hidden;
    position: absolute;
    background-color: #92b4a7;
}
.user-menu .user-menu-submenu li a{
    text-decoration: none;
    color: black;
}
.user-menu ul li i{
    font-size: 1.3rem;
}
.user-menu ul li:hover ul.user-menu-submenu{
    visibility: visible;
    padding: 15px;
    transition: all 0.5s;
}

@media (max-width: 1410px){
    .menu-items {
        flex-direction: column;
    }
    .menu-items li {
        vertical-align: center;
    }
    .menu-nav .menu-items li a {
        text-decoration: none;
        font-size: 2rem;
    }
    .menu-hamburguer {
        font-size: 50px;
        display: block;
        text-align: center;
        padding: 10px;
    }
    #menu-responsive:checked ~ #menu-hamburguer-items {
        transition: all .5s;
        height: 30vh;  
        padding-top: 25px;
        padding-bottom: 25px;
    }
    #menu-hamburguer-items {
        height: 0; 
        left: 0;
        background-color: #92b4a7d9;
        z-index: 2;
        text-align: center;
        width: 100%;
        position: absolute;
        margin-top: 10px;
    }	
    #menu-responsive:checked ~ #menu-hamburguer-items li a {
        color: rgba(0, 0, 0, 1);
        transition: all 1.2s;
    }
    #menu-responsive:checked ~ #menu-hamburguer-items li a:hover {
        text-decoration: line-through;
    }
    #menu-hamburguer-items li a {
        color: rgba(0, 0, 0, 0);
    }
}
@media (max-width: 1100px) {
    header.container{
        display: block;
    }
    .search-nav {
        justify-content: center;
        margin-bottom: 20px;
    }
    .search-nav form{
        width: 50%;
    }
    .search-nav form input{
        width: 90%;
    }
    .logo-header{
        text-align:center;
    }
    #menu-hamburguer-items {
        margin-top: 75px;
    }
    .user-menu-submenu{ 
        width: 100%;
        background-color: #92b4a741;
        margin-top: 10px;
        left: 0;
        text-align: center;
        font-size: 2rem;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}